{% extends 'AresliaBundle:Default:index.html.twig' %}
  {% block body %}

      <div id="page-content-wrapper">
          <div id="page-content">

              <div class="container" style="background-color: transparent">


                  <div id="page-title">
                      <h2>Nos Actualites</h2>

                      <a style="bottom: -33px;float:right;    background-color: #62bddc;"href="{{path('areslia_AddActu')}}" class="btn btn-alt btn-hover ">
                          <span style="    color: black;">Ajouter Actualite</span>
                          <i class="glyph-icon icon-plus"></i>
                      </a>
                      <p></p>

                  </div>
                  <link rel="stylesheet" type="text/css" href="{{asset('assets/frontend-elements/blog.css')}}">

                  <!-- Owlcarousel -->
                  <link rel="stylesheet" type="text/css" href="{{asset('assets/widgets/owlcarousel/owlcarousel.css')}}">
                  <script type="text/javascript" src="{{asset('assets/widgets/owlcarousel/owlcarousel.js')}}"></script>
                  <script type="text/javascript" src="{{asset('assets/widgets/owlcarousel/owlcarousel-demo.js')}}"></script>

                  <!-- Lazyload -->

                  <script type="text/javascript" src="{{asset('assets/widgets/lazyload/lazyload.js')}}"></script>
                  <script type="text/javascript">
                      /* Lazyload */

                      $(function() {
                          $("img.lazy").lazyload({
                              effect: "fadeIn",
                              threshold: 100
                          });
                      });
                  </script>

                  <!-- PrettyPhoto modals -->

                  <link rel="stylesheet" type="text/css" href="{{asset('assets/widgets/pretty-photo/prettyphoto.css')}}">
                  <script type="text/javascript" src="{{asset('assets/widgets/pretty-photo/prettyphoto.js')}}"></script>
                  <script type="text/javascript">
                      /* PrettyPhoto */

                      $(document).ready(function() {
                          $(".prettyphoto").prettyPhoto();
                      });
                  </script>

                  <div class="row">
                      <input style="width: 800px;margin: 10px;" type="text" id="myInput" onkeyup="myFunctionA()" placeholder="Recherche.." required="" class="form-control" data-parsley-id="8799"><ul class="parsley-errors-list" id="parsley-id-8799"></ul>

                      <div id="paging_container4" >
                          <div id="page_navigation_top" class="page_navigation" ></div>
                      <ul id="myUL" class="col-md-9 content">

                          {% for Actiualite in Actiualites|reverse %}
                          <li id="P{{ Actiualite.idActiualite }}" class="blog-box row">
                              <div class="post-image col-md-4">
                                   <img class="img-responsive lazy img-rounded" src="#" data-original="http://app.arislia.fr/upload/{{ Actiualite.webPath }}" alt="">

                              </div>
                              <div class="post-content-wrapper col-md-8">
                                  <a class="post-title" href="#" title="">
                                      <h3>{{ Actiualite.titre }}</h3>
                                  </a>
                                  <div class="post-meta">
                    <span>
                        <i class="glyph-icon icon-clock-o"></i>
                       <span> {{ Actiualite.dateValidite|date('d/m/y')}}</span>
                    </span>

                                  </div>
                                  <div class="post-content">
                                      <p>{{ Actiualite.descreption }}</p>
                                  </div>
                                  <a href="{{ path('areslia_modifActuredirect',{'id': Actiualite.idActiualite }) }}" class="btn btn-sm btn-default" style="background-color: #62bddc;"  title="Modifier">Modifier</a>
                                  <a onclick="supp({{ Actiualite.idActiualite }})"  class="btn btn-md btn-danger delete"   title="Modifier">Supprimer</a>

                              </div>
                          </li>

                          {% endfor %}

                          <script>


                              // var alertt = document.getElementById("alert");
                              function supp(x){
                                  var retVal = confirm("Êtes-vous absolument certain de vouloir supprimer?");
                                  if(retVal==true){
                                      $.get("http://app.arislia.fr/suppActu/"+x, function(data, status){
                                          console.log("ssss"+data);



                                      });
                                      document.getElementById("P"+x).remove();
                                  }}

                          </script>

                      </ul>

                      <div class="page_navigation " style=""></div>
                  </div>
                  </div>
              </div>



          </div>

      <!-- WIDGETS --> <script>
          $(document).ready(function(){
              $('#paging_container4').pajinate({
                  items_per_page : 3,
                  nav_label_first : '<<',
                  nav_label_last : '>>',
                  nav_label_prev : '<',
                  nav_label_next : '>'


              });
          });</script>

      <script type="text/javascript">
          function myFunctionA() {
              // Declare variables
              var input, filter, ul, li, a, i;
              input = document.getElementById('myInput');
              filter = input.value.toUpperCase();
              ul = document.getElementById("myUL");
              li = ul.getElementsByTagName('li');
              var x = document.getElementsByClassName("first")[0];


              // Loop through all list items, and hide those who don't match the search query
              for (i = 0; i < li.length; i++) {
                  div = li[i].getElementsByTagName("div")[1];
                  div1 = li[i].getElementsByTagName("div")[2];
                  div2 = li[i].getElementsByTagName("div")[3];
                  var p = div2.getElementsByTagName("p")[0];
                  span = div.getElementsByTagName("span")[0];
                  span1 = span.getElementsByTagName("span")[0];
                  a = div.getElementsByTagName("a")[0];
                  h3 = a.getElementsByTagName("h3")[0];

                  if (h3.innerHTML.toUpperCase().search(filter) > -1 || p.innerHTML.toUpperCase().indexOf(filter) > -1 || span1.innerHTML.toUpperCase().indexOf(filter) > -1 ) {
                      li[i].style.display = "";
                      if(filter.localeCom               pare("")==0){

                          x.click();
                      }

                  } else {
                      //if(filter.localeCompare("")==0){
                      //alert("aaaaaaaaaaaaaaa");
                      //  x.click();
                      //}
                      li[i].style.display = "none";
                  }
              }
          }
      </script>
      </div>{% endblock %}