{% extends 'AresliaBundle:Default:index.html.twig' %}
  {% block body %}
      <div id="page-content-wrapper">
          <div id="page-content">

              <div class="container">


                  <!-- Parsley -->

                  <script type="text/javascript" src="../../assets/widgets/parsley/parsley.js"></script>

                  <div id="page-title">
                      <h2>Ajouter Actiualite</h2>


                  </div>

                  <div class="panel">
                      <div class="panel-body">

                          <div class="example-box-wrapper">
                              <form  method="post" action="{{ path('areslia_modifActu',{'id': Actiualite.id_Actiualite }) }}" class="form-horizontal bordered-row" id="demo-form" data-parsley-validate="" enctype="multipart/form-data" novalidate="">
                                  <div class="row">
                                      <div class="col-md-6">
                                          <div class="form-group">
                                              <label class="col-sm-3 control-label">Titre Actiualite</label>
                                              <div class="col-sm-6">
                                                  <input type="text"  placeholder="" value="{{ Actiualite.Titre }}"  name="titre" required="" class="form-control" data-parsley-id="8799"><ul class="parsley-errors-list" id="parsley-id-8799"></ul>
                                              </div>
                                          </div>
                                          <div class="form-group">
                                              <label class="col-sm-3 control-label">Descreption</label>
                                              <div class="col-sm-6">
                                                  <textarea maxlength="225" name="descreption" style="height: 150px;width: 350px;" id="" class="form-control">{{ Actiualite.Descreption }}</textarea>
                                              </div>
                                          </div>


                                          <div class="form-group">
                                              <label for="" class="col-sm-3 control-label">Date Validité</label>
                                              <div class="col-sm-8">
                                                  <div class="input-prepend input-group">
                                    <span class="add-on input-group-addon">
                                        <i class="glyph-icon icon-calendar"></i>
                                    </span>
                                                      <input name="date" type="date" value="{{ Actiualite.Date_Validite }}" class="bootstrap-datepicker form-control"  data-date-format="d/m/y">
                                                  </div>
                                              </div>
                                          </div>








                                      </div>
                                      <div class="form-group">
                                          <label class="col-sm-3 control-label"></label>
                                          <div class="col-sm-6">
                                              <div class="fileinput fileinput-new" data-provides="fileinput">
                                                  <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;">
                                                      <img id="blah" src="http://app.arislia.fr/upload/Actuialite/{{ Actiualite.Image }}" data-original="" alt=""></div>
                                                  <div>
                                <span class="btn btn-default btn-file">
                                    <span class="fileinput-new">Select image</span>
                                    <span class="fileinput-exists">Change</span>
                                    <input type="file"  id="fileinput" name="file">
                                </span>
                                                      <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                          </div>
                          <div class="bg-default content-box text-center pad20A mrg25T">
                              <button class="btn btn-lg btn-primary">Modifier</button>
                          </div>
                          </form>
                      </div>

                  </div>
              </div>
          </div>



      </div>

      <script>


          function readURL(input) {

              if (input.files && input.files[0]) {
                  var reader = new FileReader();

                  reader.onload = function (e) {
                      $('#blah').attr('src', e.target.result);
                  }

                  reader.readAsDataURL(input.files[0]);
              }
          }

          $("#fileinput").change(function(){
              readURL(this);
          });
      </script>
  {% endblock %}