{% extends 'AresliaBundle:Default:index.html.twig' %}
  {% block body %}

      <div id="page-content-wrapper">
          <div id="page-content">

              <div class="container">


                  <!-- Parsley -->

                  <script type="text/javascript" src="{{asset('assets/widgets/parsley/parsley.js')}}"></script>

                  <div id="page-title">
                      <h2>Ajouter Promotion</h2>


                  </div>

                  <div class="panel">
                      <div class="panel-body">

                          <div class="example-box-wrapper">
                              <form  method="post" action="{{ path('areslia_AddPromotion') }}" class="form-horizontal bordered-row" id="demo-form" data-parsley-validate="" enctype="multipart/form-data" novalidate="">
                                  <div class="row">
                                      <div class="col-md-6">
                                          <div class="form-group">
                                              <label class="col-sm-3 control-label">Titre Promotion</label>
                                              <div class="col-sm-6">
                                                  <input type="text" placeholder="Titre Promotion" required=""  name="titre" class="form-control" data-parsley-id="8799"><ul class="parsley-errors-list" id="parsley-id-8799"></ul>
                                              </div>
                                          </div>
                                          <div class="form-group">
                                              <label class="col-sm-3 control-label">Categorie</label>
                                              <div class="col-sm-6">
                                                  <input type="text" placeholder="Categorie" required="" list="mylist" name="categorie" class="form-control awesomplete" >
                                                  <datalist id="mylist">
      {% for categorie in categories %}
                                                      <option>{{ categorie.categrie }}</option>

      {% endfor %}
                                                  </datalist>
                                              </div>
                                          </div>
                                          <div class="form-group">
                                              <label class="col-sm-3 control-label">Description</label>
                                              <div class="col-sm-6">
                                                  <textarea maxlength="225" id="" style="height: 150px;width: 350px;" name="descreption" placeholder="Description" required="" class="form-control"></textarea>
                                              </div>
                                          </div>


                                          <div class="form-group">
                                              <label for="" class="col-sm-3 control-label">Date Validité</label>
                                              <div class="col-sm-8">
                                                  <div class="input-prepend input-group">
                                    <span class="add-on input-group-addon">
                                        <i class="glyph-icon icon-calendar"></i>
                                    </span>
                                                      <input type="date" name="date" class="bootstrap-datepicker form-control" value="02/16/12" required="" data-date-format="mm/dd/yy">
                                                  </div>
                                              </div>
                                          </div>

                                          <div class="form-group">
                                              <label class="col-sm-3 control-label">Prix</label>
                                              <div class="col-sm-6">
                                                  <input id="touchspin-demo-1" required="" placeholder="Prix" name="prix" class="form-control" type="number"  >
                                              </div>
                                          </div>

                                          <div class="form-group">
                                              <label class="col-sm-3 control-label">Pourcentage Reduction</label>
                                              <div class="col-sm-6">
                                                  <input id="touchspin-demo-1" name="reduction" placeholder="Pourcentage Reduction" required="" class="form-control" type="number" >
                                              </div>
                                          </div>




                                      </div>
                                      <div class="form-group">
                                          <label class="col-sm-3 control-label"></label>
                                          <div class="col-sm-6">
                                              <div class="fileinput fileinput-new" data-provides="fileinput">
                                                  <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;">

                                                      <img src="" id="blah">
                                                  </div>
                                                  <div>
                                <span class="btn btn-default btn-file">
                                    <span class="fileinput-new">Select image</span>
                                    <span class="fileinput-exists">Change</span>
                                    <input type="file" required="" id="fileinput" name="file">
                                </span>
                                                      <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>

                                  <div class="bg-default content-box text-center pad20A mrg25T">
                                      <button class="btn btn-lg btn-primary">Ajouter</button>
                                  </div>
                              </form>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
<script>


    function readURL(input) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#fileinput").change(function(){
        readURL(this);
    });
</script>


      </div> {% endblock %}