{% extends 'AresliaBundle:Default:index.html.twig' %}
  {% block body %}

      <div id="page-content-wrapper">
          <div id="page-content">

              <div class="container" style="background-color: transparent">


                  <div id="page-title">
                      <h2>Nos Promotions</h2>

                      <a style="float:right;bottom: -32px;    background-color: #62bddc;"href="{{path('areslia_AddPromo')}}" class="btn btn-alt btn-hover ">
                          <span style="color: black;">Ajouter Promotion</span>
                          <i class="glyph-icon icon-plus"></i>
                      </a>
                      <p></p>

                  </div>
                  <link rel="stylesheet" type="text/css" href="{{asset('assets/frontend-elements/blog.css')}}">

                  <!-- Owlcarousel -->
                  <link rel="stylesheet" type="text/css" href="{{asset('assets/widgets/owlcarousel/owlcarousel.css')}}">
                  <script type="text/javascript" src="{{asset('assets/widgets/owlcarousel/owlcarousel.js')}}"></script>
                  <script type="text/javascript" src="{{asset('assets/widgets/owlcarousel/owlcarousel-demo.js')}}"></script>

                  <!-- Lazyload -->

                  <script type="text/javascript" src="{{asset('assets/widgets/lazyload/lazyload.js')}}"></script>
                  <script type="text/javascript">
                      /* Lazyload */

                      $(function() {
                          $("img.lazy").lazyload({
                              effect: "fadeIn",
                              threshold: 100
                          });
                      });
                  </script>

                  <!-- PrettyPhoto modals -->

                  <link rel="stylesheet" type="text/css" href="{{asset('assets/widgets/pretty-photo/prettyphoto.css')}}">
                  <script type="text/javascript" src="{{asset('assets/widgets/pretty-photo/prettyphoto.js')}}"></script>
                  <script type="text/javascript">
                      /* PrettyPhoto */

                      $(document).ready(function() {
                          $(".prettyphoto").prettyPhoto();
                      });
                  </script>

                  <div  class="row ">

                      <input style="margin: 10px;width: 800px"  type="text" id="myInput" onkeyup="myFunction()" placeholder="Recherche.." required="" class="form-control" data-parsley-id="8799"><ul class="parsley-errors-list" id="parsley-id-8799"></ul>

                      <div class="col-md-3" style="float:right;padding: 10px;">

                          <div class="content-box">
                              <h3 class="content-box-header bg-default">
                                  Notifications récentes
                              </h3>
                              <div class="posts-list content-box-wrapper">
                                  <ul id="UL" class="">
                                      {% for Notification in Notifications|reverse[:3] %}
                                          <li name="li">
                                              <div class="post-image">
                                                  <a href="{{asset('assets/image-resources/stock-images/img-10.jpg')}}" class="prettyphoto" rel="prettyPhoto[pp_gal]" title="Blog post title">
                                                      <img  class="img-responsive" src="http://app.arislia.fr/upload/{{  Notification.idPromo.webPath }}" alt="">
                                                  </a>
                                              </div>
                                              <div class="post-body">
                                                  <a class="post-title" href="#" title="">
                                                      <h3 >{{  Notification.idPromo.titre }}</h3>
                                                  </a>
                                                  <p  >{{  Notification.message }}</p>
                                              </div>
                                          </li>
                                      {% endfor %}

                                  </ul>
                              </div>
                          </div>




                      </div>
                      <div id="paging_container4" >
                          <div id="page_navigation_top" class="page_navigation" style=""></div>
                      <ul id="myUL" class="col-md-9 content">

                          {% for Promotio in Promotion|reverse %}
                          <li id="P{{ Promotio.idPromotion }}" class="blog-box row">
                              <div class="post-image col-md-4">

                                      <img class="img-responsive lazy img-rounded" src="http://app.arislia.fr/upload/{{ Promotio.webPath }}" id="I{{ Promotio.idPromotion }}" data-original="http://app.arislia.fr/upload/{{ Promotio.webPath }}" alt="">

                              </div>
                              <div class="post-content-wrapper col-md-8">
                                  <a class="post-title" href="#" title="">
                                      <h3 id="t{{ Promotio.idPromotion }}">{{ Promotio.titre }}</h3>
                                  </a>
                                  <div class="post-meta">
                    <span>
                        <i class="glyph-icon icon-clock-o"></i>
                       <span> {{ Promotio.dateValidite|date('d/m/y')}}</span>
                    </span>

                                  </div>
                                  <div class="post-content">
                                      <p id="D{{ Promotio.idPromotion }}">{{ Promotio.descreption }}</p>
                                  </div>
                                  <a  onclick="notif({{ Promotio.idPromotion }})"  class="btn btn-sm btn-default" style="background-color: #62bddc;" title="Envoyer une Notification">Envoyer Notifications</a>
                                  <a  href="{{ path('areslia_modifredirect',{'id': Promotio.idPromotion }) }}" class="btn btn-sm btn-default" style="background-color: #62bddc;"  title="Modifier">Modifier</a>
                                  <a onclick="supp({{ Promotio.idPromotion }})"  class="btn btn-md btn-danger delete"   title="Modifier">Supprimer</a>

                              </div>
                          </li>
{% endfor %}


                      </ul>

                          <div class="page_navigation " style=""></div>

                      </div>


                  </div>

              </div>



          </div>
      </div>


      <script>


          // var alertt = document.getElementById("alert");
          function supp(x){
              var retVal = confirm("Êtes-vous absolument certain de vouloir supprimer?");
              if(retVal==true){
                  $.get("http://app.arislia.fr/suppromotion/"+x, function(data, status){
                      console.log("ssss"+data);



                  });
                  document.getElementById("P"+x).remove();
              }}

      </script>
      <script>
          $(document).ready(function(){
              $('#paging_container4').pajinate({
                  items_per_page : 3,
                  nav_label_first : '<<',
                  nav_label_last : '>>',
                  nav_label_prev : '<',
                  nav_label_next : '>'


              });
          });</script>
      <script>


          // var alertt = document.getElementById("alert");
          function notif(x){
              var I= document.getElementById("I"+x).src;
              var t= document.getElementById("t"+x).innerHTML;
              var D= document.getElementById("D"+x).innerHTML;
              $.get("http://app.arislia.fr/sendnotification/"+x, function(data, status){
                  console.log("ssss"+data);



              });
              alert("Envoie effectué avec succes.");


              //   document.getElementById("UL").append('<li>aaaaaaaa</li>');
              var x = document.createElement("IMG");
              var createA = document.createElement('a');
              var div1 = document.createElement('DIV');
              var div2 = document.createElement('DIV');
              var  tt= document.createElement('h3');
              var  p= document.createElement('P');
              var text = document.createTextNode(t);
              var DD = document.createTextNode(D);



              var createA2 = document.createElement('a');
              x.setAttribute("src", I);
              createA.setAttribute("class",'prettyphoto');
              createA2.setAttribute("class",'post-title');
              x.setAttribute("class", "img-responsive");
              x.setAttribute("alt", "The Pulpit Rock");
              div1.setAttribute("class", "post-image");
              div2.setAttribute("class", "post-body");
              createA.append(x);
              div1.append(createA);
              tt.append(t);
              createA2.append(tt);
              p.append(D);
              div2.append(createA2);
              div2.append(p);
              var newLi = document.createElement("li");
              newLi.setAttribute("name",'li');

              newLi.append( div1 );
              newLi.append( div2 );

              document.getElementById("UL").prepend(newLi);
              document.getElementsByName("li")[3].remove();

          }
      </script>




  {% endblock %}