{% extends 'AresliaBundle:Default:index.html.twig' %}
  {% block body %}


      <script type="text/javascript" src="{{asset('assets/widgets/accordion-ui/accordion.js')}}"></script>
      <script type="text/javascript">
          /* jQuery UI Accordion */

          $(function() { "use strict";
              $(".accordion").accordion({
                  heightStyle: "content"
              });
          });

          $(function() { "use strict";
              $("#accordion-hover")
                  .accordion({
                      event: 'mouseover',
                      heightStyle: 'auto'
                  });
          });
      </script>
      <div id="page-content-wrapper">
          <div id="page-content">

              <div class="container">

                  <div class="panel">
                      <div class="panel-body">
                          <h3 class="title-hero">
                              PRESTATION SPA
                          </h3>
                          <div class="example-box-wrapper">

                              <div class="accordion">
                                  {% for a in Prestationspa %}
                                      <h3 id="{{ a.IdSpa }}PT">{{ a.Titre }} </h3>

                                      <div id="{{ a.IdSpa }}PI">

                                          <table class="table">

                                              <tbody>
                                              {% for b in a.Detail %}
                                                  <tr id="{{ b.id }}tr">
                                                      <form id="{{ b.id }}FF" action="{{ path('areslia_modifPestationSpaD',{'id':  b.id }) }}" method="post" enctype="multipart/form-data" >

                                                          <td  hidden id="{{ b.id }}inputNom"  ><input  type="text" placeholder="Nom offre" required="" value="{{ b.nom }}" class="form-control" name="nom" ></td>
                                                          <td hidden id="{{ b.id }}inputNbrH"  ><input  type="text" placeholder="Nombre Heure" required="" value="{{ b.nbrheure }}" class="form-control"name="nbrheure" ></td>
                                                          <td hidden id="{{ b.id }}inputNbrP"  ><input  type="text" placeholder="Nombre Personne" required="" value="{{ b.nbrpersonne }}" class="form-control"name="nbrpersonne" ></td>
                                                          <td hidden id="{{ b.id }}inputPrix"><input  type="text" placeholder="Prix/Personne" required="" value="{{ b.prix }}" class="form-control" name="prix" ></td>
                                                          <td hidden id="{{ b.id }}B" ><button form="{{ b.id }}FF" class="btn btn-info mrg20B">Modifier </button></td>

                                                      </form>
                                                      <td id="{{ b.id }}Nom">{{ b.nom }}</td>
                                                      <td id="{{ b.id }}NbrH">{{ b.nbrheure }}</td>
                                                      <td id="{{ b.id }}NbrP">{{ b.nbrpersonne }}</td>
                                                      <td id="{{ b.id }}Prix">{{ b.prix }}€</td>
                                                      <td id="{{ b.id }}supp"><a onclick="supp({{ b.id }})" type="button" style="height: 30px;" class="btn btn-md btn-danger delete"><i class="glyph-icon icon-trash-o"></i>Supprimer</a></td>
                                                      <td id="{{ b.id }}M"><button type="button" onclick="hide({{ b.id }})"  style="height: 30px;" class="btn btn-blue-alt">modifier</button></td>
                                                  </tr>
                                              {% endfor %}
                                              <form id="{{ a.IdSpa }}F" action="{{ path('areslia_AddPestationSpaD',{'id': a.IdSpa }) }}" method="post" enctype="multipart/form-data" >

                                                  <tr id="{{ a.IdSpa }}I" class="collapse">
                                                      <td>  <input type="text" placeholder="Nom offre" required="" class="form-control" name="nom" ></td>
                                                      <td  ><input  type="text" placeholder="Nombre Heure" required=""  class="form-control"name="nbrheure" ></td>
                                                      <td   ><input  type="text" placeholder="Nombre Personne" required="" class="form-control"name="nbrpersonne" ></td>
                                                      <td><input type="text" placeholder="Prix" required="" class="form-control" name="prix" ></td>
                                                      <td></td>
                                                      <td><button form="{{ a.IdSpa }}F" class="btn btn-info mrg20B"> Ajouter a la liste</button></td>

                                                  </tr>
                                              </form>
                                              <tr id="{{ a.IdSpa }}M" class="collapse">
                                                  <td style="width: 80%;">  <input type="text"  placeholder="Nom du Prestation" value="{{ a.Titre }}" id="{{ a.IdSpa }}MM" required="" class="form-control" name="nom" ></td>

                                                  <td><button onclick="update({{ a.IdSpa }})" class="btn btn-info mrg20B"> Modifier</button></td>

                                              </tr>
                                              <tr>
                                                  <td></td>
                                                  <td></td>
                                                  <td></td>
                                                  <td></td>

                                                  <td><button  data-toggle="collapse" data-target="#{{ a.IdSpa }}I" class="btn btn-round btn-blue-alt">
                                                          <i class="glyph-icon icon-plus"></i></button>
                                                      <button  data-toggle="collapse" title="Modifier nom du Prestation" data-target="#{{ a.IdSpa }}M" class="btn btn-round btn-blue-alt">
                                                          <i class="glyph-icon icon-pencil"></i></button>
                                                      <a  onclick="suppP({{ a.IdSpa }})" type="button" class="btn btn-round btn-danger">
                                                          <i class="glyph-icon icon-trash-o"></i></a>

                                                  </td>
                                              </tr>
                                              </tbody>
                                          </table>
                                      </div>
                                  {% endfor %}

                              </div>
                          </div>
                          <div class="divider"></div>
                          <div >
                              <form  action="{{ path('areslia_AddPestationSpa') }}" method="post" enctype="multipart/form-data" >

                                  <button style="float:right;    background-color: #62bddc;"href=""  class="btn btn-alt btn-hover ">
                                      <span style="color: black;">Ajouter Prestation</span>
                                      <i class="glyph-icon icon-plus"></i>
                                  </button>
                                  <input style="width: 80%" type="text" placeholder="Prestation Spa" required="" id="bb"  class="form-control " name="Prestation" >
                              </form>
                          </div></div>
                  </div>





              </div>
          </div>



      </div>
      <script>


          // var alertt = document.getElementById("alert");
          function update(x){
              var Nom=document.getElementById(x+"MM").value;

              if(Nom!=""){
                  $.get("http://app.arislia.fr/modifPestationSpa/"+x+"/"+Nom, function(data, status){
                      console.log("ssss"+data);



                  });
                  document.getElementById(x+"PT").innerText =Nom;
              }
              else  alert("Titre Prestation ne doit pas être vide!!!");
          }

      </script>
      <script>


          // var alertt = document.getElementById("alert");
          function supp(x){
              var retVal = confirm("Êtes-vous absolument certain de vouloir supprimer?");
              if(retVal==true){
                  $.get("http://app.arislia.fr/supprimePestationSpaD/"+x, function(data, status){
                      console.log("ssss"+data);



                  });
                  document.getElementById(x+"tr").remove();
              }}

      </script>
      <script>


          // var alertt = document.getElementById("alert");
          function suppP(x){
              var retVal = confirm("Êtes-vous absolument certain de vouloir supprimer?");
              if(retVal==true){
                  $.get("http://app.arislia.fr/supprimePestationSpa/"+x, function(data, status){
                      console.log("ssss"+data);



                  });
                  document.getElementById(x+"PT").remove();
                  document.getElementById(x+"PI").remove();
              }}

      </script>
      <script>
          function hide(id) {

              var Nom=document.getElementById(id+"Nom");
              var NbrP=document.getElementById(id+"NbrP");
              var Prix=document.getElementById(id+"Prix");
              var NbrH=document.getElementById(id+"NbrH");
              var supp=document.getElementById(id+"supp");
              var M=document.getElementById(id+"M");
              Nom.style.display = 'none';
              NbrH.style.display = 'none';
              Prix.style.display = 'none';
              NbrP.style.display = 'none';
              supp.style.display = 'none';
              M.style.display = 'none';




              var inputNom=document.getElementById(id+"inputNom");
              var inputNbrH=document.getElementById(id+"inputNbrH");
              var inputNbrP=document.getElementById(id+"inputNbrP");
              var inputPrix=document.getElementById(id+"inputPrix");
              var B=document.getElementById(id+"B");
              inputNom.removeAttribute("hidden");
              inputNbrH.removeAttribute("hidden");
              inputNbrP.removeAttribute("hidden");
              inputPrix.removeAttribute("hidden");
              B.removeAttribute("hidden");

          }

      </script>
  {% endblock %}