{% extends 'AresliaBundle:Default:index.html.twig' %}
  {% block body %}


      <script type="text/javascript" src="{{asset('assets/widgets/accordion-ui/accordion.js')}}"></script>
      <script type="text/javascript">
          /* jQuery UI Accordion */

          $(function() { "use strict";
              $(".accordion").accordion({
                  heightStyle: "content"
              });
          });

          $(function() { "use strict";
              $("#accordion-hover")
                  .accordion({
                      event: 'mouseover',
                      heightStyle: 'auto'
                  });
          });
      </script>
      <div id="page-content-wrapper">
          <div id="page-content">

              <div class="container">

                  <div class="panel">
                      <div class="panel-body">
                          <h3 class="title-hero">
                              PRESTATION INSTITUT
                          </h3>
                          <div class="example-box-wrapper">

                              <div class="accordion">
                                  {% for a in Prestationinstitut %}
                                  <h3 id="{{ a.IdInstitut }}PT">{{ a.Titre }} </h3>

                                  <div id="{{ a.IdInstitut }}PP">

                                      <table class="table">

                                          <tbody>
                                          {% for b in a.Detail %}
                                          <tr id="{{ b.id }}tr">
                                              <form id="{{ b.id }}FF" action="{{ path('areslia_modifPestationI',{'id':  b.id }) }}" method="post" enctype="multipart/form-data" >

                                              <td  hidden id="{{ b.id }}inputNom"  ><input  type="text" placeholder="Nom offre" required="" value="{{ b.nom }}" class="form-control" name="nom" ></td>
                                              <td hidden id="{{ b.id }}inputSupp"  ><input  type="text" placeholder="supplement" required="" value="{{ b.suppliment }}" class="form-control"name="supplement" ></td>
                                              <td hidden id="{{ b.id }}inputPrix"><input  type="text" placeholder="Prix" required="" value="{{ b.prix }}" class="form-control" name="prix" ></td>
                                                  <td hidden id="{{ b.id }}B" ><button form="{{ b.id }}FF" class="btn btn-info mrg20B">Modifier </button></td>

                                              </form>
                                              <td id="{{ b.id }}Nom">{{ b.nom }}</td>
                                              <td id="{{ b.id }}Supp">{{ b.suppliment }}</td>
                                              <td id="{{ b.id }}Prix">{{ b.prix }}€</td>
                                              <td id="{{ b.id }}supp"><a onclick="supp({{ b.id }})" type="button" style="height: 30px;" class="btn btn-md btn-danger delete"><i class="glyph-icon icon-trash-o"></i>Supprimer</a></td>
                                              <td id="{{ b.id }}M"><button type="button" onclick="hide({{ b.id }})"  style="height: 30px;" class="btn btn-blue-alt">modifier</button></td>
                                          </tr>
                                          {% endfor %}
                                          <form id="{{ a.IdInstitut }}F" action="{{ path('areslia_AddPestationI',{'id': a.IdInstitut }) }}" method="post" enctype="multipart/form-data" >

                                          <tr id="{{ a.IdInstitut }}I" class="collapse">
                                              <td>  <input type="text" placeholder="Nom offre" required="" class="form-control" name="nom" ></td>
                                              <td>  <input type="text" placeholder="supplement" class="form-control"name="supplement" style="margin-bottom: 10px" > <input type="text" style="
    border-radius: 3px;

    font-size: 13px;

    float: none;
    background: #fff;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    color: #2b2f33;
    border: #dfe8f1 solid 1px;
" id="sipp"  placeholder="supplement" class="collapse" name="supplement2" ></td>
                                              <td><button type="button"  data-toggle="collapse" title="Ajouter un autre supplement" data-target="#sipp" class="btn btn-round btn-blue-alt">
                                                      <i class="glyph-icon icon-plus"></i></button></td>
                                              <td><input type="text" placeholder="Prix" required="" class="form-control" name="prix" ></td>
                                              <td><button form="{{ a.IdInstitut }}F" class="btn btn-info mrg20B"> Ajouter a la liste</button></td>

                                          </tr>
                                          </form>
                                              <tr id="{{ a.IdInstitut }}M" class="collapse">
                                                  <td style="width: 80%;">  <input type="text"  placeholder="Nom du Prestation" value="{{ a.Titre }}" id="{{ a.IdInstitut }}MM" required="" class="form-control" name="nom" ></td>

                                                  <td><button onclick="update({{ a.IdInstitut }})" class="btn btn-info mrg20B"> Modifier</button></td>

                                              </tr>

                                          <tr>
                                              <td></td>
                                              <td></td>
                                              <td></td>
                                              <td></td>

                                              <td><button  data-toggle="collapse" data-target="#{{ a.IdInstitut }}I" class="btn btn-round btn-blue-alt">
                                                      <i class="glyph-icon icon-plus"></i></button>
                                                  <button  data-toggle="collapse" title="Modifier nom du Prestation" data-target="#{{ a.IdInstitut }}M" class="btn btn-round btn-blue-alt">
                                                      <i class="glyph-icon icon-pencil"></i></button>
                                                  <a onclick="suppP({{ a.IdInstitut }})" type="button" class="btn btn-round btn-danger">
                                                      <i class="glyph-icon icon-trash-o"></i></a>

                                              </td>
                                          </tr>
                                          </tbody>
                                      </table>
                                  </div>
                                  {% endfor %}

                              </div>
                          </div>
                          <div class="divider"></div>
                          <div >
                              <form  action="{{ path('areslia_addPestation') }}" method="post" enctype="multipart/form-data" >

                              <button style="float:right;    background-color: #62bddc;"href=""  class="btn btn-alt btn-hover ">
                                  <span style="color: black;">Ajouter Prestation</span>
                                  <i class="glyph-icon icon-plus"></i>
                              </button>
                          <input style="width: 80%" type="text" placeholder="Prestation Institut" required="" id="bb"  class="form-control " name="Prestation" >
                              </form>
                      </div></div>
                  </div>





              </div>
          </div>



      </div>
      <script>


          // var alertt = document.getElementById("alert");
          function supp(x){
              var retVal = confirm("Êtes-vous absolument certain de vouloir supprimer?");
              if(retVal==true){
                  $.get("http://app.arislia.fr/suppPestationI/"+x, function(data, status){
                      console.log("ssss"+data);



                  });
                  document.getElementById(x+"tr").remove();
              }}

      </script>
      <script>


          // var alertt = document.getElementById("alert");
          function update(x){
              var Nom=document.getElementById(x+"MM").value;

              if(Nom!=""){
                  $.get("http://app.arislia.fr/modifPestationIN/"+x+"/"+Nom, function(data, status){
                      console.log("ssss"+data);



                  });
                  document.getElementById(x+"PT").innerText =Nom;
              }
              else  alert("Titre Prestation ne doit pas être vide!!!");
          }

      </script>
      <script>


          // var alertt = document.getElementById("alert");
          function suppP(x){
              var retVal = confirm("Êtes-vous absolument certain de vouloir supprimer?");
              if(retVal==true){
                  $.get("http://app.arislia.fr/suppPestation/"+x, function(data, status){
                      console.log("ssss"+data);



                  });
                  document.getElementById(x+"PT").remove();
                  document.getElementById(x+"PP").remove();
              }}

      </script>
<script>
    function hide(id) {

        var Nom=document.getElementById(id+"Nom");
        var Supp=document.getElementById(id+"Supp");
        var Prix=document.getElementById(id+"Prix");
        var supp=document.getElementById(id+"supp");
        var M=document.getElementById(id+"M");
        Nom.style.display = 'none';
        Supp.style.display = 'none';
        Prix.style.display = 'none';
        supp.style.display = 'none';
        M.style.display = 'none';




        var inputNom=document.getElementById(id+"inputNom");
        var inputSupp=document.getElementById(id+"inputSupp");
        var inputPrix=document.getElementById(id+"inputPrix");
        var B=document.getElementById(id+"B");
        inputNom.removeAttribute("hidden");
        inputSupp.removeAttribute("hidden");
        inputPrix.removeAttribute("hidden");
        B.removeAttribute("hidden");

    }

</script>
  {% endblock %}