{% extends 'AresliaBundle:Default:index.html.twig' %}
  {% block body %}
      <div id="page-content-wrapper">
          <div id="page-content">

              <div class="container">


                  <div id="page-title">
                      <h2>Boutique</h2>
                      <p>Example invoice page build with MonarchUI Framework</p>
                      <div id="theme-options" class="admin-options">


                      </div>
                  </div>

                  <script>
                      function printInvoice() {
                          window.print();
                      }
                  </script>
                  <div class="content-box pad25A">
                      <div class="row">
                          <div class="col-sm-3">
                              <div class="dummy-logo">
                                  <img src="{{asset('assets/image-resources/logoarislia.png')}}" height="100%" width="100%"/>
                              </div>

                          </div>
                          <div class="col-sm-9 float-right ">

                              <div class="col-md-4">
                                  <h2 class="invoice-client mrg10T">Boutique information:</h2>
                                  <ul class="reset-ul">
                                      <li><b>Nom:</b>{{ app.user.nom }}</li>
                                      <li><b>Adresse:</b>   <address style="font-weight: bolder;"class="invoice-address">
                                              {{ app.user.adresse }}
                                          </address></li>

                                  </ul>

                              </div>
                              <div class="col-md-4">
                                  <h2 class="invoice-client mrg10T"> Boutique coordonnées:</h2>
                                  <ul class="reset-ul">
                                      <li><b>Date Creation:</b> December 17, 2014</li>
                                      <li><b>Mail:</b>{{ app.user.email }}</li>
                                      <li><b>Tél:</b>{{ app.user.tel }}</li>
                                  </ul>
                              </div>
                              <div class="col-md-4">
                                  <h2 class="invoice-client mrg10T">Boutique Details:</h2>
                                  <p>{{ app.user.detail }}</p>
                              </div>

                          </div>
                      </div>
                      <script type="text/javascript" src="../../assets/widgets/accordion-ui/accordion.js"></script>
                      <script type="text/javascript">
                          /* jQuery UI Accordion */

                          $(function() { "use strict";
                              $(".accordion").accordion({
                                  heightStyle: "content"
                              });
                          });

                          $(function() { "use strict";
                              $("#accordion-hover")
                                  .accordion({
                                      event: 'mouseover',
                                      heightStyle: 'auto'
                                  });
                          });
                      </script>

                      <div class="divider"></div>





                      <div class="example-box-wrapper">
                          <div class="row">

                              <div class="col-md-12">
                                  <button type="button" class="btn btn-info mrg20B" data-toggle="collapse" data-target="#demo-2">
                                      Modifier Données
                                  </button>

                                  <div id="demo-2" class="collapse">

                                      <div class="example-box-wrapper ">
                                          <form  method="post" action="{{ path('areslia_ModifBoutique') }}" class="form-horizontal bordered-row" id="demo-form" data-parsley-validate="" enctype="multipart/form-data" novalidate="">
                                              <div class="row">
                                                  <div class="col-md-6">
                                                      <div class="form-group">
                                                          <label class="col-sm-3 control-label">Nom</label>
                                                          <div class="col-sm-6">
                                                              <input type="text" placeholder="" name="nom" required="" value="{{ app.user.nom }}" class="form-control" data-parsley-id="8799"><ul class="parsley-errors-list" id="parsley-id-8799"></ul>
                                                          </div>
                                                      </div>
                                                      <div class="form-group">
                                                          <label class="col-sm-3 control-label">Pays</label>
                                                          <div class="col-sm-6">
                                                              <input type="text" placeholder="" required="" name="adress" value="{{ app.user.adresse }}"  class="form-control" data-parsley-id="8799"><ul class="parsley-errors-list" id="parsley-id-8799"></ul>
                                                          </div>
                                                      </div>
                                                      <div class="form-group">
                                                          <label class="col-sm-3 control-label">Cite</label>
                                                          <div class="col-sm-6">
                                                              <input type="text" placeholder="" required="" name="cite" value="{{ app.user.cite }}"  class="form-control" data-parsley-id="8799"><ul class="parsley-errors-list" id="parsley-id-8799"></ul>
                                                          </div>
                                                      </div>
                                                      <div class="form-group">
                                                          <label class="col-sm-3 control-label">rue</label>
                                                          <div class="col-sm-6">
                                                              <input type="text" placeholder="" required="" name="rue" value="{{ app.user.cite }}"  class="form-control" data-parsley-id="8799"><ul class="parsley-errors-list" id="parsley-id-8799"></ul>
                                                          </div>
                                                      </div>
                                                      <div class="form-group">
                                                          <label class="col-sm-3 control-label">Email</label>
                                                          <div class="col-sm-6">
                                                              <input type="text" placeholder=""    required=""  name="email" value="{{ app.user.email }}"     class="form-control" data-parsley-id="8799"><ul class="parsley-errors-list" id="parsley-id-8799"></ul>
                                                          </div>
                                                      </div>
                                                      <div class="form-group">
                                                          <label class="col-sm-3 control-label">Telephone</label>
                                                          <div class="col-sm-6">
                                                              <input type="text" placeholder="" required="" name="tel" value="{{ app.user.tel }}" class="form-control" data-parsley-id="8799"><ul class="parsley-errors-list" id="parsley-id-8799"></ul>
                                                          </div>
                                                      </div>

                                                      <div class="form-group">
                                                          <label class="col-sm-3 control-label">Descreption</label>
                                                          <div class="col-sm-6">
                                                              <textarea  name="detail" class="form-control">{{ app.user.detail }}</textarea>
                                                          </div>
                                                      </div>

                                                      <div class="bg-default content-box text-center pad20A mrg25T">
                                                          <button class="btn btn-lg btn-primary">Modifier</button>
                                                      </div>








                                                  </div>

                                              </div>


                                          </form>
                                      </div>

                                  </div>
                              </div>

                          </div>
                      </div>


                  </div>

              </div>
          </div>



      </div>
  {% endblock %}