{% extends 'AresliaBundle:Default:index.html.twig' %}
  {% block body %}
      <div id="page-content-wrapper">
          <div id="page-content">

              <div class="container">


                  <!-- Data tables -->

                  <!--<link rel="stylesheet" type="text/css" href="../../assets/widgets/datatable/datatable.css">-->
                  <script type="text/javascript" src="../../assets/widgets/datatable/datatable.js"></script>
                  <script type="text/javascript" src="../../assets/widgets/datatable/datatable-bootstrap.js"></script>
                  <script type="text/javascript" src="../../assets/widgets/datatable/datatable-responsive.js"></script>

                  <script type="text/javascript">

                      /* Datatables responsive */

                      $(document).ready(function() {
                          $('#datatable-responsive').DataTable( {
                              responsive: true,
                              "order": [[ 3, "desc" ]],
                              "dom": '<"top"flp<"clear">>rt<"bottom"ifp<"clear">>'
                          } );

                      } );

                      $(document).ready(function() {
                          $('.dataTables_filter input').attr("placeholder", "Search...");
                      });

                  </script>

                  <div id="page-title">
                      <h2>Notifications </h2>
                      <p></p>

                  </div>

                  <div class="panel">
                      <div class="panel-body">
                          <h3 class="title-hero">
                               tables des notifications
                          </h3>
                          <div class="example-box-wrapper">
                              <table id="datatable-responsive" class="table table-striped table-bordered responsive no-wrap" cellspacing="0" width="100%">
                                  <thead>
                                  <tr>
                                      <th>Image Promotion</th>
                                      <th>titre Promotion</th>
                                      <th>Message</th>
                                      <th>Date d'envoi</th>

                                  </tr>
                                  </thead>



                                  <tbody>
      {% for Notification in Notifications|reverse %}
                                  <tr>
                                      <td> <div class="" >
                                              <img style=" overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    width:90px;
    height:90px; " src="http://app.arislia.fr/upload/{{  Notification.idPromo.webPath }}" onerror="this.src='http://www.dost.gov.ph/images/phocagallery/about_dost/secretaries/anonymous.png';"  alt=""> </div></td>
                                      <td>{{  Notification.idPromo.titre }}</td>
                                      <td>{{  Notification.message }}</td>
                                      <td>{{  Notification.datecreation|date('d/m/y') }}</td>

                                  </tr>


      {% endfor %}
                                  </tbody>
                              </table>
                          </div>
                      </div>
                  </div>

              </div>



          </div>
      </div>
     {% endblock %}